<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mine.cloud.DMicro.dao.orderMapper">
  <resultMap id="BaseResultMap" type="mine.cloud.DMicro.pojo.order">
    <id column="ord_id" jdbcType="INTEGER" property="ordId" />
    <result column="usr_id" jdbcType="INTEGER" property="usrId" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="ord_total" jdbcType="DECIMAL" property="ordTotal" />
  </resultMap>
  <sql id="Base_Column_List">
    ord_id, usr_id, good_id, ord_total
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ord_table
    where ord_id = #{ordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ord_table
    where ord_id = #{ordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mine.cloud.DMicro.pojo.order">
    insert into ord_table (ord_id, usr_id, good_id, 
      ord_total)
    values (#{ordId,jdbcType=INTEGER}, #{usrId,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, 
      #{ordTotal,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="mine.cloud.DMicro.pojo.order">
    insert into ord_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ordId != null">
        ord_id,
      </if>
      <if test="usrId != null">
        usr_id,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
      <if test="ordTotal != null">
        ord_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ordId != null">
        #{ordId,jdbcType=INTEGER},
      </if>
      <if test="usrId != null">
        #{usrId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="ordTotal != null">
        #{ordTotal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mine.cloud.DMicro.pojo.order">
    update ord_table
    <set>
      <if test="usrId != null">
        usr_id = #{usrId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="ordTotal != null">
        ord_total = #{ordTotal,jdbcType=DECIMAL},
      </if>
    </set>
    where ord_id = #{ordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mine.cloud.DMicro.pojo.order">
    update ord_table
    set usr_id = #{usrId,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=INTEGER},
      ord_total = #{ordTotal,jdbcType=DECIMAL}
    where ord_id = #{ordId,jdbcType=INTEGER}
  </update>
</mapper>