<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mine.cloud.DMicro.dao.BlockchainMapper">
  <resultMap id="BaseResultMap" type="mine.cloud.DMicro.pojo.Blockchain">
    <id column="block_id" jdbcType="INTEGER" property="blockId" />
    <result column="block_prev" jdbcType="VARCHAR" property="blockPrev" />
    <result column="block_data" jdbcType="VARCHAR" property="blockData" />
    <result column="block_timestamp" jdbcType="TIMESTAMP" property="blockTimestamp" />
    <result column="block_hash" jdbcType="VARCHAR" property="blockHash" />
    <result column="block_merkle" jdbcType="VARCHAR" property="blockMerkle" />
    <result column="block_type" jdbcType="VARCHAR" property="blockType" />
  </resultMap>

  <resultMap id="BaseResultMapCollection" type="mine.cloud.DMicro.pojo.Blockchain">
    <id column="block_id" jdbcType="INTEGER" property="blockId" />
    <result column="block_prev" jdbcType="VARCHAR" property="blockPrev" />
    <result column="block_data" jdbcType="VARCHAR" property="blockData" />
    <result column="block_timestamp" jdbcType="TIMESTAMP" property="blockTimestamp" />
    <result column="block_hash" jdbcType="VARCHAR" property="blockHash" />
    <result column="block_merkle" jdbcType="VARCHAR" property="blockMerkle" />
    <result column="block_type" jdbcType="VARCHAR" property="blockType" />
    <association property="children" column="" resultMap="BaseResultMapCollection">

    </association>
  </resultMap>
  <sql id="Base_Column_List">
    block_id, block_prev, block_data, block_timestamp, block_hash, block_merkle,block_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blockchain
    where block_id = #{blockId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blockchain
    where block_id = #{blockId,jdbcType=INTEGER}
  </delete>

  <select id="selectBlockChainBlock">
    select
    <include refid="Base_Column_List" />
    from blockchain
    where
    1=1
    <if test="blockId != null">
     AND block_id = #{blockId,jdbcType=INTEGER}
    </if>
    <if test="blockPrev != null">
     AND block_prev = #{blockPrev,jdbcType=VARCHAR}
    </if>
    <if test="blockData != null">
     AND block_data = #{blockData,jdbcType=VARCHAR}
    </if>
    <if test="blockTimestamp != null">
     AND block_timestamp = #{blockTimestamp,jdbcType=TIMESTAMP}
    </if>
    <if test="blockHash != null">
     AND block_hash = #{blockHash,jdbcType=VARCHAR}
    </if>
    <if test="blockMerkle != null">
     AND block_merkle = #{blockMerkle,jdbcType=VARCHAR}
    </if>
    <if test="blockType != null">
      AND block_type = #{blockType}
    </if>
  </select>

  <insert id="insertSelective" parameterType="mine.cloud.DMicro.pojo.Blockchain" useGeneratedKeys="true" keyProperty="blockId" keyColumn="block_id" >
    insert into blockchain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blockId != null">
        block_id,
      </if>
      <if test="blockPrev != null">
        block_prev,
      </if>
      <if test="blockData != null">
        block_data,
      </if>
      <if test="blockTimestamp != null">
        block_timestamp,
      </if>
      <if test="blockHash != null">
        block_hash,
      </if>
      <if test="blockMerkle != null">
        block_merkle,
      </if>
      <if test="blockType != null">
        block_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blockId != null">
        #{blockId,jdbcType=INTEGER},
      </if>
      <if test="blockPrev != null">
        #{blockPrev,jdbcType=VARCHAR},
      </if>
      <if test="blockData != null">
        #{blockData,jdbcType=VARCHAR},
      </if>
      <if test="blockTimestamp != null">
        #{blockTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="blockHash != null">
        #{blockHash,jdbcType=VARCHAR},
      </if>
      <if test="blockMerkle != null">
        #{blockMerkle,jdbcType=VARCHAR},
      </if>
      <if test="blockType != null">
        #{blockType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mine.cloud.DMicro.pojo.Blockchain">
    update blockchain
    <set>
      <if test="blockPrev != null">
        block_prev = #{blockPrev,jdbcType=VARCHAR},
      </if>
      <if test="blockData != null">
        block_data = #{blockData,jdbcType=VARCHAR},
      </if>
      <if test="blockTimestamp != null">
        block_timestamp = #{blockTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="blockHash != null">
        block_hash = #{blockHash,jdbcType=VARCHAR},
      </if>
      <if test="blockMerkle != null">
        block_merkle = #{blockMerkle,jdbcType=VARCHAR},
      </if>
      <if test="blockType != null">
        block_type = #{blockType,jdbcType=VARCHAR},
      </if>
    </set>
    where block_id = #{blockId,jdbcType=INTEGER}
  </update>

  <!-- select last by type -->
  <select id="selectLastOne" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM blockchain
    WHERE block_type = #{blockType ,jdbcType=VARCHAR}
    ORDER BY block_id DESC
  </select>

</mapper>