<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mine.cloud.DMicro.dao.GoodMapper">
  <resultMap id="BaseResultMap" type="mine.cloud.DMicro.pojo.Good">
    <id column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_price" jdbcType="DECIMAL" property="goodPrice" />
    <result column="good_args" jdbcType="VARCHAR" property="goodArgs" />
    <result column="good_text" jdbcType="VARCHAR" property="goodText" />
    <result column="good_img" jdbcType="VARCHAR" property="goodImg" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    good_id, good_name, good_price, good_args, good_text,good_img,user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from good_table
    where good_id = #{goodId,jdbcType=INTEGER}
  </select>
  <select id="selectBySelective" parameterType="mine.cloud.DMicro.pojo.Good" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from good_table
    where
    1=1
    <if test="goodId != null">
        AND good_id = #{goodId,jdbcType=INTEGER}
    </if>
    <if test="goodName != null">
        AND good_name =  #{goodName,jdbcType=VARCHAR}
    </if>
    <if test="goodPrice != null">
        AND good_price =  #{goodPrice,jdbcType=DECIMAL}
    </if>
    <if test="goodArgs != null">
        AND good_args = #{goodArgs,jdbcType=VARCHAR}
    </if>
    <if test="goodText != null">
        AND good_text #{goodText,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from good_table
    where good_id = #{goodId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="mine.cloud.DMicro.pojo.Good">
    insert into good_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodId != null">
        good_id,
      </if>
      <if test="goodName != null">
        good_name,
      </if>
      <if test="goodPrice != null">
        good_price,
      </if>
      <if test="goodArgs != null">
        good_args,
      </if>
      <if test="goodText != null">
        good_text,
      </if>
      <if test="goodImg != null">
        good_img,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="goodName != null">
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null">
        #{goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodArgs != null">
        #{goodArgs,jdbcType=VARCHAR},
      </if>
      <if test="goodText != null">
        #{goodText,jdbcType=VARCHAR},
      </if>
      <if test="goodImg != null">
        #{goodImg,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mine.cloud.DMicro.pojo.Good">
    update good_table
    <set>
      <if test="goodName != null">
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null">
        good_price = #{goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodArgs != null">
        good_args = #{goodArgs,jdbcType=VARCHAR},
      </if>
      <if test="goodText != null">
        good_text = #{goodText,jdbcType=VARCHAR},
      </if>
    </set>
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
  <delete id="deleteBatchByIds" parameterType="java.util.List">
    delete from good_table
    where good_id in
    <foreach collection="goodIdList" item="item" open="(" separator="," close=")">
        #{item}
    </foreach>
  </delete>
</mapper>