<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mine.cloud.DMicro.dao.UserMapper">
  <resultMap id="BaseResultMap" type="mine.cloud.DMicro.pojo.User">
    <id column="usr_id" jdbcType="INTEGER" property="usrId" />
    <result column="usr_nickname" jdbcType="VARCHAR" property="usrNickname" />
    <result column="usr_phone" jdbcType="VARCHAR" property="usrPhone" />
    <result column="usr_text" jdbcType="VARCHAR" property="usrText" />
    <result column="usr_money" jdbcType="BIGINT" property="usrMoney" />
    <result column="usr_create_time" jdbcType="TIMESTAMP" property="usrCreateTime" />
    <result column="usr_password" jdbcType="VARCHAR" property="usrPassword" />
    <result column="usr_fans" jdbcType="BIGINT" property="usrFans" />
  </resultMap>
  <sql id="Base_Column_List">
    usr_id, usr_nickname, usr_phone, usr_text, usr_money, usr_create_time, usr_password,usr_fans
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usr_table
    where usr_id = #{usrId,jdbcType=INTEGER}
  </select>
  <select id="selectOneBySelective" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from usr_table
    where 1=1
    <if test="usrNickname != null">
    AND  usr_nickname = #{usrNickname,jdbcType=VARCHAR}
    </if>
    <if test="usrPhone != null">
    AND  usr_phone = #{usrPhone,jdbcType=VARCHAR}
    </if>
    <if test="usrText != null">
    AND  usr_text = #{usrText,jdbcType=VARCHAR}
    </if>
    <if test="usrMoney != null">
    AND  usr_money = #{usrMoney,jdbcType=BIGINT}
    </if>
    <if test="usrCreateTime != null">
    AND  usr_create_time = #{usrCreateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="usrPassword != null">
    AND  usr_password = #{usrPassword,jdbcType=VARCHAR}
    </if>
    <if test="usrFans != null">
      AND  usr_fans = #{usrFans,jdbcType=BIGINT}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from usr_table
    where usr_id = #{usrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mine.cloud.DMicro.pojo.User">
    insert into usr_table (usr_id, usr_nickname, usr_phone, 
      usr_text, usr_money)
    values (#{usrId,jdbcType=INTEGER}, #{usrNickname,jdbcType=VARCHAR}, #{usrPhone,jdbcType=VARCHAR}, 
      #{usrText,jdbcType=VARCHAR}, #{usrMoney,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="usrId" parameterType="mine.cloud.DMicro.pojo.User">
    insert into usr_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usrId != null">
        usr_id,
      </if>
      <if test="usrNickname != null">
        usr_nickname,
      </if>
      <if test="usrPhone != null">
        usr_phone,
      </if>
      <if test="usrText != null">
        usr_text,
      </if>
      <if test="usrMoney != null">
        usr_money,
      </if>
      <if test="usrCreateTime != null">
        usr_create_time,
      </if>
      <if test="usrPassword != null">
        usr_password,
      </if>
      <if test="usrFans != null">
        usr_fans,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usrId != null">
        #{usrId,jdbcType=INTEGER},
      </if>
      <if test="usrNickname != null">
        #{usrNickname,jdbcType=VARCHAR},
      </if>
      <if test="usrPhone != null">
        #{usrPhone,jdbcType=VARCHAR},
      </if>
      <if test="usrText != null">
        #{usrText,jdbcType=VARCHAR},
      </if>
      <if test="usrMoney != null">
        #{usrMoney,jdbcType=BIGINT},
      </if>
      <if test="usrCreateTime != null">
        #{usrCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usrPassword != null">
        #{usrPassword,jdbcType=VARCHAR},
      </if>
      <if test="usrFans != null">
        #{usrFans,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mine.cloud.DMicro.pojo.User">
    update usr_table
    <set>
      <if test="usrNickname != null">
        usr_nickname = #{usrNickname,jdbcType=VARCHAR},
      </if>
      <if test="usrPhone != null">
        usr_phone = #{usrPhone,jdbcType=VARCHAR},
      </if>
      <if test="usrText != null">
        usr_text = #{usrText,jdbcType=VARCHAR},
      </if>
      <if test="usrMoney != null">
        usr_money = #{usrMoney,jdbcType=BIGINT},
      </if>
      <if test="usrCreateTime != null">
        usr_create_time = #{usrCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usrPassword != null">
        usr_password = #{usrPassword,jdbcType=VARCHAR},
      </if>
      <if test="usrFans != null">
        usr_fans = #{usrFans,jdbcType=VARCHAR},
      </if>
    </set>
    where usr_id = #{usrId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeyFansForeach" parameterType="java.util.Map">
    <foreach collection="recordMap" item="value" index="key" separator=";">
      update usr_table set
      <if test="value!=null">
        usr_fans = #{value}
      </if>
      where usr_id = #{key}
    </foreach>
  </update>

  <!-- 采用in,当id不是主键或者索引的时候,in的性能随着数据变多,会比or好很多 -->
  <select id="selectBatchByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    select * from usr_table
    <foreach collection="ids" item="item" open="where usr_id in(" close=")" separator=",">
      #{item}
    </foreach>
  </select>
</mapper>