<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mine.cloud.DMicro.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="mine.cloud.DMicro.pojo.Article">
    <id column="art_id" jdbcType="INTEGER" property="artId" />
    <result column="art_title" jdbcType="VARCHAR" property="artTitle" />
    <result column="art_postime" jdbcType="TIMESTAMP" property="artPostime" />
    <result column="art_type" jdbcType="VARCHAR" property="artType" />
    <result column="usr_id" jdbcType="INTEGER" property="usrId" />
    <result column="art_like" jdbcType="BIGINT" property="artLike" />
    <result column="art_read" jdbcType="BIGINT" property="artRead" />
    <result column="art_text" jdbcType="CLOB" property="artText" />
    <result column="art_summary" jdbcType="VARCHAR" property="artSummary" />
    <result column="art_url" jdbcType="VARCHAR" property="artUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    art_id, art_title, art_postime, usr_id, art_type,art_like,art_read,art_text,art_summary,art_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from art_table
    where art_id = #{artId,jdbcType=INTEGER}
  </select>
  <select id="selectBySelective" parameterType="mine.cloud.DMicro.pojo.Article" resultType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from art_table
    where
    1=1
    <if test="artId != null">
      AND art_id = #{artId,jdbcType=INTEGER}
    </if>
    <if test="artTitle != null">
      AND art_title like  CONCAT ('%',#{artTitle,jdbcType=VARCHAR},'%')
    </if>
    <if test="artPostime != null">
      AND art_postime = #{artPostime,jdbcType=TIMESTAMP}
    </if>
    <if test="usrId != null">
      AND usr_id = #{usrId,jdbcType=INTEGER}
    </if>
    <if test="artType != null">
      AND art_type = #{artType,jdbcType=VARCHAR}
    </if>
    <if test="artLike != null">
      AND art_like = #{artLike,jdbcType=BIGINT}
    </if>
    <if test="artRead != null">
      AND art_read #{artRead,jdbcType=BIGINT}
    </if>
    <if test="artText != null">
      AND art_text = #{artText,jdbcType=CLOB}
    </if>
    <if test="artSummary != null">
      AND art_summary = #{artSummary,jdbcType=VARCHAR}
    </if>
    <if test="artUrl != null">
      AND art_url = #{artUrl,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from art_table
    where art_id = #{artId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mine.cloud.DMicro.pojo.Article">
    insert into art_table (art_id, art_title, art_postime, 
      usr_id)
    values (#{artId,jdbcType=INTEGER}, #{artTitle,jdbcType=VARCHAR}, #{artPostime,jdbcType=TIMESTAMP}, 
      #{usrId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="artId"  parameterType="mine.cloud.DMicro.pojo.Article">
    insert into art_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="artId != null">
        art_id,
      </if>
      <if test="artTitle != null">
        art_title,
      </if>
      <if test="artPostime != null">
        art_postime,
      </if>
      <if test="usrId != null">
        usr_id,
      </if>
      <if test="artType != null">
        art_Type,
      </if>
      <if test="artLike != null">
        art_like,
      </if>
      <if test="artRead != null">
        art_read,
      </if>
      <if test="artText != null">
        art_text,
      </if>
      <if test="artSummary != null">
        art_summary,
      </if>
      <if test="artUrl != null">
        art_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="artId != null">
        #{artId,jdbcType=INTEGER},
      </if>
      <if test="artTitle != null">
        #{artTitle,jdbcType=VARCHAR},
      </if>
      <if test="artPostime != null">
        #{artPostime,jdbcType=TIMESTAMP},
      </if>
      <if test="usrId != null">
        #{usrId,jdbcType=INTEGER},
      </if>
      <if test="artType != null">
        #{artType,jdbcType=VARCHAR},
      </if>
      <if test="artLike != null">
        #{artLike,jdbcType=BIGINT},
      </if>
      <if test="artRead != null">
        #{artRead,jdbcType=BIGINT},
      </if>
      <if test="artText != null">
        #{artText,jdbcType=CLOB},
      </if>
      <if test="artSummary != null">
        #{artSummary,jdbcType=VARCHAR},
      </if>
      <if test="artUrl != null">
        #{artUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mine.cloud.DMicro.pojo.Article">
    update art_table
    <set>
      <if test="artTitle != null">
        art_title = #{artTitle,jdbcType=VARCHAR},
      </if>
      <if test="artPostime != null">
        art_postime = #{artPostime,jdbcType=TIMESTAMP},
      </if>
      <if test="usrId != null">
        usr_id = #{usrId,jdbcType=INTEGER},
      </if>
      <if test="artType != null">
        art_type = #{artType,jdbcType=VARCHAR},
      </if>
      <if test="artLike != null">
        art_like = #{artLike,jdbcType=BIGINT},
      </if>
      <if test="artRead != null">
        art_read = #{artRead,jdbcType=BIGINT},
      </if>
      <if test="artText != null">
        art_text = #{artText,jdbcType=CLOB},
      </if>
      <if test="artSummary != null">
        art_summary = #{artSummary,jdbcType=VARCHAR},
      </if>
      <if test="artUrl != null and artUrl != ''">
        art_url = #{artUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where art_id = #{artId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeyForeachRead" parameterType="java.util.Map">
    <foreach collection="recordMap" item="value" index="key" separator=";">
      update art_table set
      <if test="value!=null">
        art_read = #{value}
      </if>
      where art_id = #{key,jdbcType=INTEGER}
    </foreach>
  </update>

  <update id="updateByPrimaryKeyForeachLike" parameterType="java.util.Map">
    <foreach collection="recordMap" item="value" index="key" separator=";">
      update art_table set
      <if test="value!=null">
        art_like = #{value}
      </if>
      where art_id = #{key}
    </foreach>
  </update>
</mapper>