<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mine.cloud.DMicro.dao.articleMapper">
  <resultMap id="BaseResultMap" type="mine.cloud.DMicro.pojo.article">
    <id column="art_id" jdbcType="INTEGER" property="artId" />
    <result column="art_title" jdbcType="VARCHAR" property="artTitle" />
    <result column="art_postime" jdbcType="TIMESTAMP" property="artPostime" />
    <result column="usr_id" jdbcType="INTEGER" property="usrId" />
  </resultMap>
  <sql id="Base_Column_List">
    art_id, art_title, art_postime, usr_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from art_table
    where art_id = #{artId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from art_table
    where art_id = #{artId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mine.cloud.DMicro.pojo.article">
    insert into art_table (art_id, art_title, art_postime, 
      usr_id)
    values (#{artId,jdbcType=INTEGER}, #{artTitle,jdbcType=VARCHAR}, #{artPostime,jdbcType=TIMESTAMP}, 
      #{usrId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mine.cloud.DMicro.pojo.article">
    insert into art_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="artId != null">
        art_id,
      </if>
      <if test="artTitle != null">
        art_title,
      </if>
      <if test="artPostime != null">
        art_postime,
      </if>
      <if test="usrId != null">
        usr_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="artId != null">
        #{artId,jdbcType=INTEGER},
      </if>
      <if test="artTitle != null">
        #{artTitle,jdbcType=VARCHAR},
      </if>
      <if test="artPostime != null">
        #{artPostime,jdbcType=TIMESTAMP},
      </if>
      <if test="usrId != null">
        #{usrId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mine.cloud.DMicro.pojo.article">
    update art_table
    <set>
      <if test="artTitle != null">
        art_title = #{artTitle,jdbcType=VARCHAR},
      </if>
      <if test="artPostime != null">
        art_postime = #{artPostime,jdbcType=TIMESTAMP},
      </if>
      <if test="usrId != null">
        usr_id = #{usrId,jdbcType=INTEGER},
      </if>
    </set>
    where art_id = #{artId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mine.cloud.DMicro.pojo.article">
    update art_table
    set art_title = #{artTitle,jdbcType=VARCHAR},
      art_postime = #{artPostime,jdbcType=TIMESTAMP},
      usr_id = #{usrId,jdbcType=INTEGER}
    where art_id = #{artId,jdbcType=INTEGER}
  </update>
</mapper>